/* src/App.css */

/* Estilo padrão para desktop e telas maiores */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.map-container {
  position: relative;
  width: 600px;
  height: 800px;
}

/* Estilo para o formulário sobreposto ao mapa */
.form-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  z-index: 1;
  overflow: auto; /* Permite rolagem se necessário */
}

/* Aumenta o tamanho do input de texto */
.form-container textarea {
  width: 100%;
  height: 150px; /* Altura aumentada */
  resize: vertical; /* Permite redimensionamento vertical */
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
  .map-container {
    width: 100vw;
    height: 200vw; /* Altura é o dobro da largura */
  }

  .form-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow-y: auto; /* Permite rolagem se necessário */
  }
}
